* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    background: #000;
}

body {
    font-family: "Helvetica Neue", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    background: rgba(104, 103, 103, 0.08);
    border-radius: 50px;
    height: 1218px;
    padding: 20px;
    position: relative;
    width: 563px;
}

.top-container {
    display: flex;
    height: 250px;
    justify-content: space-between;
    padding: 0 20px;
    
}

.value {
    font-size: 130px;
    font-weight: 300;
    height: 158px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
    color: #FFF;
}

.buttons-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button {
    align-items: center;
    background: rgb(51, 51, 51);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 110px;
    justify-content: center;
    transition: filter .3s;
    width: 110px;
}

.button.function {
    color: #000;
    background: #a5a5a5;
}

.button.operator {
    background: #f1a33c;
}

.button.number-0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 250px;
}

.button:active,
.button:focus {
    filter: brightness(120%);
}
